<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Orgs"
        tools:targetApi="31">

        <activity
            android:name=".ui.activity.FormularioProdutoActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="true">
            <!--
                O <intent-filter> é como se fosse um filtro que define que tipo de ação a MainActivity
                pode fazer. Neste caso, ele diz que a MainActivity pode ser a tela inicial do aplicativo,
                aquela que você vê quando abre o aplicativo pela primeira vez. Então, quando você clica
                no ícone do aplicativo no seu celular, é a MainActivity que aparece primeiro.
            -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" /> <!-- Configurando como entrada principal -->
                <category android:name="android.intent.category.LAUNCHER" />
                <!-- A atividade pode ser exibida como um ícone no iniciador (launcher) do dispositivo. -->
            </intent-filter>
        </activity>

        <!--
            Essa parte do código está configurando a atividade principal
            do aplicativo
        -->
        <!--
            Essa parte do código diz que a MainActivity é a tela principal do
            aplicativo. E ao coloca-la como "true", significa que essa tela pode
            ser usada por outros aplicativos, se necessário. Ou seja, outras
            partes do sistema ou outros aplicativos podem abrir a tela principal
            do seu app.
        -->

    </application>

</manifest>